@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-anim img {
    animation: fadeAnim 0.5s ease-out;
  }
  @keyframes fadeAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 10;
    }
  }